[Interface]
PrivateKey = {{ wg_secrets.wireguard_server.server_private_key }}
Address = {{ vpn_server_internal_ip }}
ListenPort = {{ vpn_server_port }}

PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -t nat -A POSTROUTING -o {{ vpn_server_interface }} -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ vpn_server_interface }} -j MASQUERADE

{% for client in vpn_clients %}
[Peer]
# Name: {{ client.name }}
PublicKey = {{ wg_secrets.wireguard_clients[client.name].public_key }}
AllowedIPs = {{ client.ip }}/32
{% endfor %}