[Interface]
PrivateKey = {{ client_private_key }}
Address = {{ client_tunnel_ip }}
DNS = {{ client_dns }}

[Peer]
PublicKey = {{ server_public_key }}
Endpoint = {{ server_endpoint }}:{{ vpn_server_port }}
AllowedIPs = 10.0.0.0/24
PersistentKeepalive = 25